<!DOCTYPE html>
<html>
  <head>
    <title>FlipCard</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <style>

      html,body { margin:0; padding:0; height:100%; width:100%; }
      .full-size {
        background: url(/assets/NightCity.jpg);
        background-size: 100%;
        height:100%;
        width:100%;
        overflow:hidden; /* or overflow:auto; if you want scrollbars */
      }

      @keyframes shadow-animation {
      0% {
        position: relative; 
        top: -3px; 
        left: -3px; 
        text-shadow: 1px 1px #fe4902, 
                    2px 2px #fe4902, 
                    3px 3px #fe4902, 
                    4px 4px #fe4902, 
                    5px 5px #fe4902, 
                    6px 6px #fe4902;
      }
      
      100% {}
      }


      .shadow { 
         margin-top: 40px;
         text-align: center;
         color: white; 
         font: bold 70px Helvetica, Arial, Sans-Serif;
         text-shadow: 1px 1px #fe4902, 
                      2px 2px #fe4902, 
                      3px 3px #fe4902;
         -webkit-transition: all 0.12s ease-out;
         -moz-transition:    all 0.12s ease-out;
         -ms-transition:     all 0.12s ease-out;
         -o-transition:      all 0.12s ease-out;
      }

      .submit {
        text-align: center;
      }

      .submit .tooltiptext {
        visibility: hidden;
        width: 200px;
        background-color: black;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 5px 0;

        /* Position the tooltip */
        position: absolute;
        z-index: 1;
      }

      .submit:hover .tooltiptext {
        visibility: visible;
      }
      
    </style>

    <script>
      $(document).ready(function(){
        //Animation
        $(".shadow").css("animation", "shadow-animation 0.5s infinite linear alternate");
        }, function(){
        $(".shadow").css("animation", "none");
      });
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
